body {
    background-color: transparent;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    font: 11px Helvetica, Arial, Garamond, serif;
    text-align: left;
}
p {
    color: #8080ff;
}
a {
    text-decoration: none;
}
table {
    border: 0px;
}
table td {
    vertical-align: center;
}
img.appicon {
    border: 0px;
    width: 70px;
    height: 70px;
}
